/***********************************
************************************
HOME PAGE
************************************
***********************************/

/* Google font */
body {
  font-family: 'Merriweather', 'Roboto', serif;
  color: #131511;
  background-color: #F2F1E8;
}

div.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



/******************
HEADER
******************/
header {
  flex-basis: 100%;
  box-shadow: 2px 2px 2px #aaa;
  margin-bottom: 2px;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

img#logo {
  position: absolute;
  height: 50px;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  padding: 20px;
}

ul li a {
  color: #2B2F26;
  text-transform: uppercase;
  padding: 20px;
  font-family: Roboto;
  transition: background-color 0.4s ease, color 0.4s ease;
}

ul li a:hover {
  background-color: #CD5D67;
  color: white;
}

ul li a:active {
  color: #968772;
}

ul li a#active {
  color: #968772;
}


/*******************
MAIN BODY STYLING
*******************/
main#homepage {
  flex-basis: 100%; /* flex item for .wrapper */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

section.title {
  text-align: center;
}

section.title h1 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: -10px;
}

section.title h2 {
  font-weight: 200;
}

section.gallery {
  flex-width: 100%;
  display: flex; /* flex item for main */
  flex-direction: column;
}


section.gallery div {
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  margin: 5px 10px;
}

section.gallery div p {
  color: #fff;
  background-color: rgb(42,48, 38);
  font-weight: 100;
  padding: 15px;
  transition: background-color 0.4s ease;
}

section.gallery div p:hover {
  background-color: #CD5D67;
}

div#endless_possibilities {
  background-image: url('images/product-1.jpg');
  flex-basis: 50%;
}

div#sets {
  background-image: url('images/product-2.jpg');
  flex-basis: 25%;
}

div#textures {
  background-image: url('images/product-3.jpg');
  flex-basis: 25%;
}

div#tea_time {
  background-image: url('images/product-4.jpg');
  flex-grow: 1;
}

div#jars_containers {
  background-image: url('images/product-5.jpg');
  flex-grow: 1;
}

div#wasabi_saki {
  background-image: url('images/product-6.jpg');
  flex-grow: 2;
}

div#sippin_sunshine {
  background-image: url('images/product-7.jpg');
  flex-grow: 1;
}




/*******************
FOOTER
*******************/
footer {
  flex-basis: 100%;
  background-color: rgb(42, 48, 38);
  color: #fff;
  font-weight: 100;
  padding: 20px;
}

















/**************************************
***************************************
ABOUT US
***************************************
***************************************/
.parallax {
  background-image: url('images/background-3.jpg');
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.parallax h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  color: white;
  align-self: center;

}

div.wrapper main#about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  line-height: 200%;
  margin-top: 80px;
}

#community, #history, .parallax, #facilities, #monthly_plans {
  margin-bottom: 30px;
}

section#community h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 80px;
}

section h2 {
  font-weight: 200;
}

img#intro_pic {
  width: 200px;
  height: auto;
  float: left;
  padding-right: 20px;
}

blockquote.quote {
  font-style: italic;
  border-left: 2px solid #ddd;
  padding: 10px 20px;
}

section#facilities {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

section#facilities div {
  flex-basis: 70%;
}

section#facilities aside {
  flex-basis: 20%;
  font-size: 80%;
}

aside img {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px 10px;
}

thead, tr > td:nth-child(2) {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: rgb(243, 234, 219);
}

















/**************************************
***************************************
NEWSLETTER
***************************************
***************************************/
body#newsletter-background {
  background-image: url('images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

main#newsletter {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}


main#newsletter div {
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
}

main#newsletter div h2 {
  text-align: center;
  font-weight: 200;
}

main#newsletter div h3 {
  text-align: center;
  font-weight: 200;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #968772;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.2em;
  -webkit-transition: 0.5s;
  transition: border-bottom 0.5s ease;
  outline: none;
}

input[type="email"]:focus {
  /*border-bottom: #967343;*/
  border-bottom: 2px solid #967343;
}

input[type="text"] {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #968772;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  /*border: none;*/
  border-bottom: 2px solid #967343;
}

input[type="submit"] {
  background-color: #968772;
  border: none;
  color: #F2F1E8;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 20px 15px;
  width: 100px;
  font-size: 1.2em;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #F2F1E8;
  color: #968772;
}
