/* Google font */
body {
  font-family: 'Merriweather', 'Roboto', serif;
  color: #131511;
}

div.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
} /* this will affect <header> */

header {
    flex-basis: 100%;

}

img#logo {
    position: absolute;
    height: 50px;
    align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  padding: 20px;
}

ul li a {
  color: rgb(42,48,38);
  text-transform: uppercase;
  padding: 20px;
  font-family: Roboto;
}







/*******************
MAIN BODY STYLING
*******************/
main {
  background-color: #F2F1E8;
  flex-basis: 100%; /* flex item for .wrapper */
  display: flex;
  flex-direction: column;

}

section.title {
  text-align: center;
}

section.gallery {
  flex-width: 100%;
  display: flex; /* flex item for main */
  flex-wrap: wrap;
  justify-content: space-around;

}

section.gallery div {
  background-size: cover;
}

section.gallery div p {
  color: #fff;
  background-color: rgb(42,48, 38);
  font-weight: 100;
}

div#endless_possibilities {
  background-image: url('images/product-1.jpg');
}

div#sets {
  background-image: url('images/product-2.jpg');
}

div#textures {
  background-image: url('images/product-3.jpg');
}

div#tea_time {
  background-image: url('images/product-4.jpg');
}

div#jars_containers {
  background-image: url('images/product-5.jpg');
}

div#wasabi_saki {
  background-image: url('images/product-6.jpg');
}

div#sippin_sunshine {
  background-image: url('images/product-7.jpg');
}





/*******************
FOOTER
*******************/
footer {
  flex-basis: 100%;
  background-color: rgb(42, 48, 38);
  color: #fff;
}
