/**********************
***********************
HOME PAGE
***********************
**********************/

/* Google font */
body {
  font-family: 'Merriweather', 'Roboto', serif;
  color: #131511;
}

div.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



/******************
HEADER
******************/
header {
  flex-basis: 100%;
  box-shadow: 2px 2px 2px #aaa;
  margin-bottom: 2px;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

img#logo {
  position: absolute;
  height: 50px;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  padding: 20px;
}

ul li a {
  color: #2B2F26;
  text-transform: uppercase;
  padding: 20px;
  font-family: Roboto;
  transition: background-color 0.4s ease, color 0.4s ease;
}

ul li a:hover {
  background-color: #CD5D67;
  color: white;
}

ul li a:active {
  color: #968772;
}

ul li a#active {
  color: #968772;
}


/*******************
MAIN BODY STYLING
*******************/
main {
  background-color: #F2F1E8;
  flex-basis: 100%; /* flex item for .wrapper */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

section.title {
  text-align: center;
}

section.title h1 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: -10px;
}

section.title h2 {
  font-weight: 200;
}

section.gallery {
  flex-width: 100%;
  display: flex; /* flex item for main */
  flex-direction: column;
}


section.gallery div {
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  margin: 5px 10px;
}

section.gallery div p {
  color: #fff;
  background-color: rgb(42,48, 38);
  font-weight: 100;
  padding: 15px;
  transition: background-color 0.4s ease;
}

section.gallery div p:hover {
  background-color: #CD5D67;
}

div#endless_possibilities {
  background-image: url('images/product-1.jpg');
  flex-basis: 50%;
}

div#sets {
  background-image: url('images/product-2.jpg');
  flex-basis: 25%;
}

div#textures {
  background-image: url('images/product-3.jpg');
  flex-basis: 25%;
}

div#tea_time {
  background-image: url('images/product-4.jpg');
  flex-grow: 1;
}

div#jars_containers {
  background-image: url('images/product-5.jpg');
  flex-grow: 1;
}

div#wasabi_saki {
  background-image: url('images/product-6.jpg');
  flex-grow: 2;
}

div#sippin_sunshine {
  background-image: url('images/product-7.jpg');
  flex-grow: 1;
}




/*******************
FOOTER
*******************/
footer {
  flex-basis: 100%;
  background-color: rgb(42, 48, 38);
  color: #fff;
  font-weight: 100;
  padding: 20px;
}
